.App {
  text-align: center;
}

textarea {
  resize: none;
}

.output {
  text-align: left;
  padding: 1rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
