.page-div {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.markdown-divs {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.input-div {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-form-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.output-div {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-text-area {
    display: flex;

    height: 100%;
    resize: none;
}

.output-text-area {
    text-align: left;
    padding: 1rem;
}
